 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Meddit - Change Password</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='recipe.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='typeahead.min.js') }}"></script>
  <script src="{{ url_for('static',filename='validator.js') }}"></script>
  <script>
    $(document).ready(function(){
      var show = sessionStorage.getItem('showcorrect');
      var show0 = sessionStorage.getItem('showinvalid');
      if(show == 'true'){
        $('#notice1').show();
        sessionStorage.setItem('showcorrect','false');
      }
      else if(show0 == 'true'){
        $('#notice2').show();
        sessionStorage.setItem('showinvalid','false');
      }
      $('input.typeahead').typeahead({
        name: 'typeahead',
        remote:'/search?key=%QUERY',
        limit : 10
      });
      $("#changepw").submit(function(e) {

    var url = "/updatepassword"; // the script where you handle the form input.

    $.ajax({
     type: "POST",
     url: url,
           data: $("#changepw").serialize(), // serializes the form's elements.
           success: function(data)
           {  
            if(data == "ok"){
              location.reload(); 
            sessionStorage.setItem('showcorrect', 'true'); //store state in localStorage
          }
          else if(data == "wrong"){
            location.reload();
            sessionStorage.setItem('showinvalid','true');
          }
        }
      });

    e.preventDefault(); // avoid to execute the actual submit of the form.
  });
    });
  </script>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Meddit</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Hot</a></li>
        <li><a href="/fresh">Fresh</a></li>
      </ul>
      <form class="navbar-form navbar-left" method="get" action="/result">
        <div class="form-group">
          <input type="text" name="q" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Search for users">
          <input type="submit" hidden>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="{{session['image']}}" class="img-circle" width=18 />&nbsp;
            {{session['name']}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/editprofile">Edit Profile</a></li>
            <li><a href="/myprofile">My Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/changepassword">Change Password</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </li>
        <li><a href="/upload"><span class="glyphicon glyphicon-plus"></span> Upload</a></li>
      </ul>
    </div>
  </div>
  <div align="center" class="alert alert-success alert-dismissable fade in" id="notice1" style="position:absolute;display:none;width:50%;left:25%;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Password changed.
  </div>  
  <div align="center" class="alert alert-danger alert-dismissable fade in" id="notice2" style="position:absolute;display:none;width:50%;left:25%;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Old password did not match or new password confirmation not typed correctly.
  </div>  
</nav>
<div class="jumbotron" style="color:black;background-color: white;margin-left:33%">
  <div class="container">
    <h2><b>Change Password</b></h2>
    <form action="/updatepassword" class="form50" method="post" id="changepw" data-toggle="validator">
      <div class="form-group">
        <label>Old Password</label>
        <input type="password" class="form-control" name="oldpass" placeholder="Old Password" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control" name="password" placeholder="New Password" data-minlength="6" data-required-error="Required." required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label>Re-enter New Password</label>
        <input type="password" class="form-control" name="confirm" placeholder="Re-enter new Password" data-minlength="6" data-match="#password" data-match-error="Does not match the above password. Please re-enter correctly." required>
        <div class="help-block with-errors"></div>
      </div>
      <button type="submit" class="ghost-button-semi-transparent">Save Changes</button>
      <a href="/"><button type="button" class="ghost-button-semi-transparent">Cancel</button></a>
    </form>
  </div>
</div>
</body>
</html>
